body {
  margin: 0;
  padding: 0;
  font-family: "Courier New",Courier, monospace;
  background: linear-gradient(89deg, #FFDEDF 0%, rgb(250, 158, 161) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

butten {
  cursor: pointer;
}